<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lance.sharding.file.mapper.OrderMapper">
    <insert id="save" parameterType="order">
        INSERT INTO t_order (order_id,price, user_id, address_id, city, status, interval_time, creator, create_time,
        updater,
        update_time)
        VALUES (#{orderId}, #{price},#{userId}, #{addressId}, #{city}, 1, #{intervalTime}, #{creator}, now(),
        #{updater}, now())
    </insert>

    <delete id="delete">
        DELETE
        FROM t_order
        WHERE user_id = #{value}
    </delete>

    <select id="findAll" resultType="order">
        SELECT order_id,
        price,
        user_id,
        address_id,
        status,
        interval_time,
        creator,
        create_time,
        updater,
        update_time
        FROM t_order
    </select>

    <select id="findAllAtPrice" resultType="order">
        SELECT order_id,
        price,
        user_id,
        address_id,
        status,
        interval_time,
        creator,
        create_time,
        updater,
        update_time
        FROM t_order
        where price = #{value}
    </select>
</mapper>
