<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" scanPeriod="30 seconds">
    <logger name="org.apache.coyote.http11" level="OFF"/>
    <include resource="log/log-base.xml"/>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE-Appender"/>
    </root>
</configuration>
